.see{background-image: url(rg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 600px;
text-align: center;
margin-top: 40px;}

h2{color: aqua;
font-size: 50px;}

p{color: blue;
font-size: 50px;
font-style: italic;}

.d{margin-bottom: 10px;}

.ff{border-width: 5px;
border-radius:5px;
border-color: aqua;
padding: 3px;
}
button{border-radius: 10px;
    margin-top: 10px;
    padding-top: 0%;
    color: rgb(17, 148, 104);
    border-color: rgb(182, 8, 8);
    border-width: 3px;
}
h1{
color: blueviolet;}